---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    image: "//placekitten.com/g/60/60?a=.png"
    name: Joice Carmold
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    image: "//fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    image: "//placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>
    Tinnen Soldaatje is een initiatief van Ken Coenen, papa van Emmett en Elliott.
    In 2015 begon ik voor Emmett kinderliedjes te spelen op gitaar.
    Eerst bestaande liedjes, maar al snel bedacht ik teksten en componeerde ik eigen melodieën.
    Ik merkte dat mijn zoon van drie jaar en zijn neefjes vele liedjes spontaan begonnen mee te zingen.
    Mijn eerste project, <strong>"Samen naar het park"</strong>, wordt een geïllustreerd kinderboek met CD met zelf geschreven kindermuziek.
  </p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
